/***************************************  
	Edit home.scss, not style/home.css
***************************************/
body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.init {
  font-size: 15rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 90vh;
  margin: 0;
  vertical-align: center;
}
